@import "../../../grid";
nav {
  display: flex;
  @include md() {
    display: none;
  }
  justify-content: center;
  align-items: center;
  background-color: #f3d34a;
  width: 42%;
  height: 50px;
  position: relative;
  // z-index: 10;
  // left: 50%;
  // transform: translateX(-50%) translateY(-px);
  .circle--left,
  .circle--right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    background-color: #f3d34a;
    .sub-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
    }
  }
  .circle--left {
    left: 0;
    transform: translateX(-50%);
  }
  .circle--right {
    right: 0;
    transform: translateX(50%);
  }
  .menu {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > li {
      height: 100%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      a,
      div {
        font-size: 20px;
        color: white;
        i {
          font-size: 20px;
        }
      }
      &:hover {
        background-color: #f3a738;
      }
      transition: all 1s;
    }
    .menu_home,
    .menu_shop {
      position: relative;
      transition: all 1s;
      &:hover {
        .dropdown {
          display: flex;
          flex-direction: column;
        }
      }
      .dropdown {
        z-index: 11;
        padding: 20px;
        min-width: 200px;
        background-color: white;
        position: absolute;
        height: max-content;
        top: 50px;
        left: 0;
        display: none;
        box-shadow: 1px 2px 5px blue;
        li {
          width: 100%;
          transition: all 1s;
          &:hover {
            transform: translateX(10px);
            a {
              color: #266bf9;
            }
          }
          a {
            color: rgb(90, 84, 84);
            font-size: 20px;
          }
        }
      }
    }
    .menu_shop {
      &:hover {
        .dropdown {
          flex-direction: row;
        }
      }
      .dropdown {
        left: 50%;
        height: max-content;
        transform: translateX(-50%);
        padding: 50px 0px;
        border-bottom-right-radius: 20px;
        li {
          width: 100px;
          margin: 0px 20px;
          &:hover {
            transform: translateX(0);
            a {
              color: rgb(90, 84, 84);
            }
          }
          ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 5px;
            //justify-content: space-between;
            li {
              text-align: center;
              transition: all 1s;
              width: 100%;
              overflow: hidden;
              &:hover {
                padding-left: 10px;
                a {
                  color: #266bf9;
                }
              }
              &:first-child {
                font-size: 24px;
                font-weight: bold;
                &:hover {
                  padding-left: 0;
                }
              }
            }
          }
        }
        .cc {
          width: 300px;
          .image {
            border: 1px solid #c4c4c4;
            width: 300px;
            overflow: hidden;
            img {
              width: 300px;
              height: 150px;
              transition: all 1s;
              &:hover {
                transform: scale(1.2) rotate(15deg);
              }
            }
          }
        }
      }
    }
  }
}
