@import "../../grid";
@keyframes shaky
{
    to {
        transform: translate(-10px,-10px);
    }
}
.slider
{
    width: 100%;
    height: max-content;
    
    .slide
   {
        height: 100%;
        position: relative;
        width: 100%;
        .text
        {
            width: 100%;
            position: absolute;
            top:35%;
            @include lg()
            {
                top:15%
            }
            @include md()
            {
                left: 8%;
                top:10%
            }
            @include xs()
            {
                top:20%
            }
            @media (max-width:450px)
            {
                top: 10%;
            }
            left: 15%;
            animation: shaky 1s infinite alternate;
            .container
            {
               height: 150px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               @include xs()
               {
                   height: 100px;
               }
               p 
               {
                   color: white;
               }
               h1 
               {
                   font-size: 36px;
                   color: white;
                   width:40%;
                   @include md()
                   {
                       font-size: 24px;
                   }
                   @include sm()
                   {
                       width: 60%;
                   }
                   @include xs()
                   {
                       font-size: 16px;
                   }
               }
               button 
               {
                    margin-top: 50px;
                    @include lg()
                   {
                       margin-top: 20px;
                   }
                   @include xs()
                   {
                       margin-top: 10px;
                   }
                   &:hover
                   {
                       border-color: red;
                   }
                   transition: all 0.5s;
                   width: 20%;
                   @include md()
                   {
                       width: 25%;
                   }
                   @include sm()
                   {
                       width: max-content;
                   }
                   @include xs()
                   {
                       padding: 5px;
                   }
                   padding: 20px;
                   background:none;
                   border:1px dashed white;
                   border-radius: 10px;
                   a 
                   {
                    font-size: 24px;
                    @include xs()
                    {
                        font-size: 16px;
                    }
                    color: white;
                    font-style: italic;
                    transition: all 0.5s;
                    &:hover
                    {
                        color: red;
                    }
                   }
                   
                   margin-left: 50px;
               }
            }
        }
       img 
       {
           height: 100%; 
           width: 100%;  
       }
   }
   .owl-dots
   {
       position: absolute;
       bottom: 2%;
       left: 50%;
       transform: translateX(-50%);
       button.owl-dot.active 
       {
           span 
           {
               background-color:blue !important;
           }
       }
   }
   .owl-nav
   {
       position: absolute;
       top: 46%;
       left: 50%;
       transform: translate(-50%,-50%);
       width: 80%;
       @include md()
       {
           width: 90%;
       }
       @include sm()
       {
           width: 93%;
       }
       display: flex;
       justify-content: space-between;
       .owl-prev, .owl-next
       {
            width: 50px;
            height: 50px;
            @include xs()
            {
                background: none !important;
                span
                {
                    color: white !important;
                }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50% !important;
            background-color: white !important;
            transition: all 0.5s;   
            &:hover
            {
                background-color: purple !important;
                span 
                {
                    color: white ;
                }
            }
                span 
                {
                    color:black;
                    font-size: 30px;
                }
       }
   }
}